<ion-header>
    <ion-toolbar>
      <ion-title >
        <ion-row justify-content-center>
            SOBRE
        </ion-row>   
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>App Mobile</ion-card-subtitle>
      <ion-card-title>Ticket Car</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Ticket car é um aplicativo que irá lhe ajudar a controlar <br>
      o horário de entrada e saída de um estacionamento.<br>
      Este aplicativo, foi desenvolvido para exemplificar<br>
      a utilização de algumas funções do Ionic.
      #Importante: funcionalidade toda feita a título de exemplo.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Unifenas - Universidade José do Rosário Vellano - Alfenas MG</ion-label>      
    </ion-item>
  

</ion-content>
